{% extends "blog/base.html" %}

{% block title %}
Редагувати пост
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input id="title" type="text" name="title" value="{{ item.title }} " class="form-control"><br>
        <textarea id="content" name="content" class="form-control" oninput="autoResize(this)" style="resize: none;">{{ item.content }}</textarea><br>
        <button type="submit" class="btn" style="background-color: #eaa9c8;">Змінити</button>
    </form>
    <script>
        function autoResize(textarea) {
          textarea.style.height = 'auto';  // Сбрасываем высоту
          textarea.style.height = (textarea.scrollHeight) + 'px';  // Устанавливаем высоту в соответствии с содержимым
        }
      </script>
{% endblock %}
