{% extends "blog/base.html" %}

{% block title %}
Пости
{% endblock %}

{% block content %}
    {% if posts %}
    <div>
        <div class="card mb-3 mt-4 p-4 rounded shadow">
                <center><h3 class="alert-heading">{{ posts.title }}</h3></center>

                {% if posts.image %}
                    <center><img src="{{ posts.image.url }}" style="width: 500px;"></center>
                {% else %}
                    <hr>
                {% endif %}
                <p>{{ posts.content }}</p>
                <p style="font-size: small;">{{ posts.published_date }}</p>
                <a href="{% url 'show_detauthor' posts.author.id %}" style="text-decoration: none; color: inherit;">{{ posts.author.name }}</a>
                
                <a href="{% url 'edit_post' posts.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a><br>
                <hr>
                <center><h4>Коментарі</h4></center>
                {% if comments %}
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <strong>{{ comment.author_name }}:</strong>
                                {{ comment.text }} <p style="font-size: small;">{{ comment.created_date }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Нема коментарів</p>
                {% endif %}
                <hr>
                <div class="d-flex flex-wrap gap-3 justify-content-start">
                    <div class="card mb-3 mt-4 p-4 rounded shadow" style="width: 500px;"">
                        <form method="post"">
                            {% csrf_token %}
                            {{ form.post }}  
                            {{ form.author_name }}<br>
                            {{ form.text }}<br>
                            <button type="submit" class="btn" style="background-color: #71a298; color: white;">Додати</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    {% else %}
        <h3>Нажаль немає данних</h3>
        
    {% endif %}
    <center>
        <a href="{% url 'posts' %}" class="btn" style="background-color: #71a298; color: white;">Назад</a> 
    </center>
{% endblock %}